<h1>Users</h1>

<% @users.each do |u|%>
    <% @current_name = session[:current_user_name] %>
    <h3>User #<%= u.id%></h3>
    <ul class="user-attributes">
        <li> Name: <%= u.name %></li>
        <li> Username: <%= u.username %></li>
        <li> Favourite Number: <%= u.favourite_number %></li>
    </ul>
        <div class="links">
            <p>
                <% if @current_name != u.name%>
                    <%= link_to "#{u.name}'s page", user_path(u) %>  
                <% else %>
                    <%= link_to "my page", user_path(u) %>  
                    <%= link_to "edit", edit_user_path(u), class: "level-item" %>
                    <%= link_to "delete", user_path(u), method: :delete, 
                        data: {confirm: "do you Really want delete this user?"}%>
                <%end%>
            </p>
        </div>
    
<% end %>