<h1><%= @user.name %></h1>
<ul class="user-info">
    <li><h4>user info: </h4></li>
    <li> Username: <%= @user.username %></li>
    <li> Favourite Number: <%= @user.favourite_number %></li>
</ul>
<ul class="user-info">
    <li><h4><%= @user.name %>'s events: </h4></li>
    <% @user.events.each do |e|%>
        <h3> Date: <%= link_to e.date, event_path(e.id) %></h3>
        <li> Contents: <%= e.body %></li>
    <% end %>
</ul><br>
<% if @user.attended_events.present?%>
    <h3>attended_events</h3>
    <% @user.attended_events.each do |e|%> 
            <p>
                <%= e.date %>: <br>
                <%= e.body %>
            </p>
    <% end %>
<% end %>
<%= link_to "back to main page", root_path%>


