<link href="https://fonts.googleapis.com/css2?family=Red+Rose&display=swap" rel="stylesheet">
<!DOCTYPE html>

<html>
  <div class="flash-notice">
  <%=flash[:not_signed_in]%> 
  <%=flash[:signed_in]%> 
  <%= flash[:posted] %>
  <%= flash[:post_not_valid] %>
  </div>
  <nav>
    <p>
      <%= link_to "all events", events_path%> 
      <%= link_to "new user", new_user_path%> 
      <%= link_to "home", root_path%>
      <% if !session[:logged_in]%>
        <%= link_to "sign_in", new_session_path%>
      <% else %>
        <%= link_to "post an event", new_event_path%>
        <%= link_to "log out", '/log_out' %> of <%= session[:current_user_name] %>
      <% end %>
    </p>   
  </nav>
  
  <form action="/search">
    <input type="text" name="q" placeholder="search for users by">
    <button type="submit">Search</button>
  </form>
  <head>
    <title>PrivateEvents</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
    
  </body>
</html>
